<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title> Lightning Games</title>
		
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		  <link rel="stylesheet" href="style/styleCss.css"/>
	</head>
		
		<body class="body">
			<main class="main">
		
			<header>
			<nav class="nav">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo center">Lightning Games</a>
		      	<ul class="left hide-on-med-and-down">
		      		<li class="active"><a href="/"><i class="material-icons left">home</i>Home</a></li>
			        <li class="active"><a href="/cadastrarJogo"><i class="material-icons left">add_circle_outline</i>Cadastrar Jogo</a></li>
			        <li class="active"><a href="/jogos"><i class="material-icons left">format_list_bulleted</i>Lista dos Jogos</a></li>	        
			      </ul>
			    </div>
			  </nav>
		</header>
			
			<h1 class="center">Detalhes <i class="medium material-icons">description</i></h1>
				<table class="container shadowLista">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Dispon&iacutevel</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="jogo: ${jogo}">
						<td th:text="${jogo.nome}">Nome</td>
						<td th:text="${jogo.disponivel}">Dispon&iacutevel</td>
				</tr>
					</tbody>
				</table>
			
				<form method="post" class="container shadowForm">
				<h5>Cadastro de Edi&ccedil&otildees</h5>
				
					Nome da Edi&ccedil&atildeo: <input type="text" value="" name="nome" required>
				
				<div class="row">
					<div class="input-field col s2" style="width : 20%">
					Plataforma: <select form="cadDetalhes" id="plataforma" name="plataforma" style="display: block;" required >
								  <option value="PC">PC</option> 
								  <option value="Console">Console</option>
								</select>		
					</div>
				
					<div class="input-field col s6" style="width : 20%">
					Console/Software: 	
							<select form="cadDetalhes" id="console" name="console"  style="display: block;" required >
								  <option value="PS4" ></option> 
								  <option value="XBOX ONE"></option>
								  
								  <option value="Steam"></option> 
								  <option value="Origin"></option>
								  <option value="Uplay"></option>				  
							</select>				
						</div>
					</div>
				
					<div class="input-field col s6">			
					Dispon&iacutevel: <input type="number" min="0" value=""  maxlength="3" name="disponivel" required>
					</div>
						
								
					<div class="input-field col s6">			
					CD-Key: <input type="text" value="" name="cdkey" maxlength="30">
					</div>
					
					<button type="submit" class="waves-effect waves-light btn">Adicionar</button>			
				</form>
				
				<th:block th:include="mensagemValidacao"></th:block>
				<h5 class="center">Edi&ccedil&otildees <i class="material-icons">view_list</i></h5>
				  	<table class="container shadowLista">
				  	<div class="container" th:each="edicao : ${edicoes}">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Plataforma</th>
							<th>Console/Software</th>
							<th>CD-Key</th>
							<th>Dispon&iacutevel</th>
							<th>Deletar</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${edicao.nome}">Nome</td>
							<td th:text="${edicao.plataforma}">Plataforma</td>
							<td th:text="${edicao.console}">Console/Software</td>
							<td th:text="${edicao.cdkey}">CD-Key</td>
							<td th:text="${edicao.disponivel}">Dispon&iacutevel</td>
							<td><a  class="waves-effect waves-light btn-small" th:href="${(#mvc.url('JC#deletarEdicao').arg(0, edicao.id)).build()}"><i class="material-icons">delete</i></a></td>
						</tr>
					</tbody>
				</div>
			</table>
			
			</main> 
			
		 <footer class="page-footer">
	          <div class="container ">
	            <div class="row">
	              <div class="col l6 s6">
	                <h5 class="white-text">Lightning Games</h5>
	                <p class="grey-text text-lighten-4">Sistema de estoque de jogos da Lightning Games.</p>
	              </div>
	              <div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Links</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/lightninggamesvl/">Instagram</a></li>
	                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/LightningGamesVL">Facebook</a></li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="footer-copyright">
	            <div class="container">
	         Lightning Games © 2020 Todos os direitos reservados.
	            </div>
	          </div>
        </footer>
			 		
	  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</body>
</html>