<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title> Flash Games</title>
		
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
		  <link type="text/css" rel="stylesheet" href="/style/styleCss.css"/>
	      
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		  <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	  	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		  
	</head>
				
		<header>
			<th:block th:include="nav"></th:block>
		</header>		
		
		<body class="body">
			<main class="main">

			<h1 class="center">Detalhes <i class="medium material-icons">description</i></h1>
				<table class="container shadowLista" th:object="${jogo}">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Dispon&iacutevel</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="jogo: ${jogo}">
						<td th:text="${jogo.nome}">Nome</td>
						<td th:text="${jogo.disponivel}">Dispon&iacutevel</td>
				</tr>
					</tbody>
				</table>

			<form method="post" class="container shadowForm" th:action="@{/update/{id}}"  th:object="${edicao}">
			<th:block th:include="mensagemValidacao"></th:block>
				<h5>Edi&ccedil&atildeo de Edi&ccedil&otildees</h5>
				
				<div class="input-field">
					<input type="text" value="" name="nome" th:field="*{nome}" required>
					<label class="active" for="nome_edicao">Nome da Edi&ccedil&atildeo</label>
				</div>
				
				
				<div class="row">
				  
				  <input type="hidden" th:field="*{id}" id="id"/>
					
					<div class="input-field col s2" style="width : 20%">
					
					<select class="plataforma" id="plataforma" name="plataforma"  th:field="*{plataforma}" style="display: block;">
								  <option value="" disabled>Selecione</option>
								  <option value="PC">PC</option> 
								  <option value="Console">Console</option>
								</select>	
						<label class="active" for="plataforma">Plataforma</label>	
					</div>
				
					<div class="input-field col s6" style="width : 20%">
							<select id="console" name="console" th:field="*{console}" style="display: block;"required  >
								  <option value="" disabled selected>Selecione</option>
								  
								  <option class="console" value="PS4">PS4</option> 
								  <option class="console" value="XBOX ONE">XBOX ONE</option>
								  
								  <option class="pc" value="Steam">Steam</option> 
								  <option class="pc" value="Origin">Origin</option>
								  <option class="pc" value="Uplay">Uplay</option>		  
							</select>
							<label class="active" for="console">Console/Software</label>				
					</div>
						
							<script>
							$(function(){
								var selectedPlataforma = $(this).children("option:selected").val();
									if(selectedPlataforma == 'PC')
					        		{ 
					        			$('.console').hide();
					        			$('.pc').show();
					        			$('#disponivel').val("1").prop('readonly', true);
					        			$('#cdkey').prop('disabled', false);
					        			
						        	}
									
									if(selectedPlataforma == 'Console'){
						        		$('.console').show();
						        		$('.pc').hide();
						        		$('#disponivel').val('').prop('readonly', false);
						        		$('#cdkey').prop('disabled', true);
						        	}
					        	   	
							});
								
							
							$(function(){
								$("select.plataforma").change(function(){
							        var selectedPlataforma = $(this).children("option:selected").val();
				
							        	if(selectedPlataforma != null){
							        		$('select').prop('disabled', false);
							        	}
							     
							        	if(selectedPlataforma == 'PC')
							        		{ 
							        			$('.console').hide();
							        			$('.pc').show();
							        			$('#disponivel').val("1").prop('readonly', true);
							        			$('#cdkey').prop('disabled', false);
							        			
								        	}
							        	
							        	if(selectedPlataforma == 'Console'){
								        		$('.console').show();
								        		$('.pc').hide();
								        		$('#disponivel').val('').prop('readonly', false);
								        		$('#cdkey').prop('disabled', true);
								        	}
							        	   	
									});
							</script>
						
					</div>
				
					<div class="input-field col s6">			
						<input id="disponivel" type="number" min="0" value="" th:field="*{disponivel}" maxlength="3" name="disponivel" required>
						<label class="active" for="disponivel">Dispon&iacutevel</label>
					</div>
						
								
					<div class="input-field col s6">			
						<input id="cdkey" type="text" value="" th:field="*{cdkey}" name="cdkey" maxlength="30">
						<label class="active" for="cdkey">CD-Key</label>
					</div>
					
					<button type="submit" class="waves-effect waves-orange btn" th:action="@{/updateEdicao/{id}}">Salvar</button>			
				</form>
			</main>	
				
		<th:block th:include="footer"></th:block>	
 
	</body>
</html>