<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title> Flash Games</title>
		
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
		  <link rel="stylesheet" href="style/styleCss.css"/>
	      
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	  	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  
	</head>
			
		<header>
			<th:block th:include="nav"></th:block>
		</header>
			
		<body class="body">
			<main class="main">
				
				<th:block th:include="mensagemValidacao"></th:block>
			
				<h1 class="center">Cadastro de Jogos <i class="medium material-icons">games</i></h1>
			
					<form class="container shadowForm" method="post" th:action="@{/cadastrarJogo}" enctype="multipart/form-data">
					<div class="row">
						<div class="input-field">
							<input type="text" value="" name="nome" required>
							<label class="active" for="nome">Nome</label>
						</div>
						
						<div>
							<h6>Capa</h6>
							<input type="file" name="imagem" accept="*" id="imagem">
						</div>
						
					</div>
						<button type="submit" class="waves-effect waves-light btn">Salvar</button>
					
				</form>
				
			<div class="container">
				<h3 class="center">&Uacuteltimos cadastrados <i class="material-icons">format_list_numbered</i></h3>
					<div class="row">	
						<h4>Antigo</h4>
							<tr th:each="jogos,iterStat: ${jogos} " th:if="${iterStat.index >= iterStat.size-6}" >
							 <td>
								<div class="col s3 m2">
								  <div class="card">
								    <div class="card-image waves-effect waves-block waves-light">
								    <a th:href="${(#mvc.url('JC#detalhesJogo').arg(0, jogos.id)).build()}"><img th:src="@{${'/imagens/' + jogos.imagemNome}}"></a>
								    </div>
								    <div class="card-content">
								      <span class="card-title activator grey-text text-darken-4" th:text="${jogos.nome}"><i class="material-icons right">more_vert</i></span>				  
								    </div>
								    <div class="card-reveal">
								      <span class="card-title grey-text text-darken-4" th:text="${jogos.nome}"><i class="material-icons right">close</i></span>
								      Dispon&iacuteveis: <p th:text="${jogos.disponivel}"></p>
								    </div>
								  </div>
								 </div>
						  	</td>
					    </tr>
					</div>
				</div>   
			</main>
								
		<th:block th:include="footer"></th:block>
								
	</body>
</html>