<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title> Lightning Games</title>
		
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
		  <link rel="stylesheet" href="style/styleCss.css"/>
	      
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	  	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  
	</head>
				
		<header>
			<nav class="nav">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo center">Lightning Games</a>
		      	<ul class="left hide-on-med-and-down">
		      		<li class="active"><a href="/"><i class="material-icons left">home</i>Home</a></li>
			        <li class="active"><a href="/cadastrarJogo" ><i class="material-icons left">add_circle_outline</i>Cadastrar Jogo</a></li>
			        <li class="active"><a href="/jogos"><i class="material-icons left">format_list_bulleted</i>Lista dos Jogos</a></li>
			      	<form class="form-inline" form-method="post" th:action="@{/logout}">
			      	<button type="submit" class="waves-effect waves-light btn ">Logout</button>
			      	</form>
			      </ul>
			    </div>
			  </nav>
		</header>		
		
		<body class="body">
			<main class="main">
		
			<h1 class="center">Lista de Jogos <i class="medium material-icons">format_list_bulleted</i></h1>
			
			<table class="container tabelaLista">
			
			<th:block th:include="mensagemValidacao"></th:block>
					<thead>
						<tr>
							<th>Nome</th>
						    <th>Quantidade</th>
						    <th>Deletar</th>
						</tr>
					</thead>
			<tbody>
				<tr th:each="jogos: ${jogos}">
					<td><a th:href="${(#mvc.url('JC#detalhesJogo').arg(0, jogos.id)).build()}"><span th:text="${jogos.nome}"></span></a></td>
						<td><a th:href="${(#mvc.url('JC#detalhesJogo').arg(0, jogos.id)).build()}"><span th:text="${jogos.disponivel}"></span></a></td>
						<td><a  class="waves-effect waves-light btn-small" th:href="${(#mvc.url('JC#deletarJogo').arg(0, jogos.id)).build()}"><i class="material-icons">delete</i></a></td>
					</tr>
				</tbody>
			</table>		
		</main>
		
		 <footer class="page-footer">
	          <div class="container ">
	            <div class="row">
	              <div class="col l6 s6">
	                <h5 class="white-text">Lightning Games</h5>
	                <p class="grey-text text-lighten-4">Sistema de estoque de jogos da Lightning Games.</p>
	              </div>
	              <div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Links</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/lightninggamesvl/">Instagram</a></li>
	                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/LightningGamesVL">Facebook</a></li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="footer-copyright">
	            <div class="container">
	         		Lightning Games © 2020 Todos os direitos reservados.
	            </div>
	          </div>
        </footer>	
 
	</body>
</html>