<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title> Flash Games</title>
		
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
		  <link rel="stylesheet" href="style/styleCss.css"/>
	      
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		  <!-- Materialize -->
		  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	  	    	  
	  	  <!-- Sort table -->
	  	  <script src="https://www.w3schools.com/lib/w3.js"></script>
	  	  
	  	  <!-- JQuery -->
	  	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  
	</head>
				
		<header>
			<th:block th:include="nav"></th:block>
		</header>		
		
		<body class="body">
			<main class="main">
		
			<h1 class="center">Lista de Jogos <i class="medium material-icons">format_list_bulleted</i></h1>
			
			<table class="container tabelaLista highlight" id="table">
			
			<th:block th:include="mensagemValidacao"></th:block>
					<thead>
						<tr>
							<th onclick="w3.sortHTML('#table', '.item', 'td:nth-child(1)')" style="cursor:pointer">Nome</th>
						    <th onclick="w3.sortHTML('#table', '.item', 'td:nth-child(2)')" style="cursor:pointer">Quantidade</th>
						    <th>Deletar</th>
						</tr>
					</thead>
					<tbody>
						<tr class="item" th:each="jogos: ${jogos}">
				    		<td><a th:href="${(#mvc.url('JC#detalhesJogo').arg(0, jogos.id)).build()}"><span style="color:orange;font-size:18px;" th:text="${jogos.nome}"></span></a></td>
							<td><span th:text="${jogos.disponivel}"></span></td>
							<td><a class="waves-effect waves-orange btn-small" th:href="${(#mvc.url('JC#deletarJogo').arg(0, jogos.id)).build()}"><i class="material-icons">delete</i></a></td>
						</tr>
					</tbody>
				</table>
						
			</main>
		
		<th:block th:include="footer"></th:block>	
 
	</body>
</html>