.shadowLista{
	box-shadow: 0px 0px 5px grey;
	
}

.shadowForm{
	box-shadow: 0px 0px 5px grey;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.tabelaLista{
	width: 80%;
	box-shadow: 0px 0px 5px grey;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

