.shadowLista{
	box-shadow: 0px 0px 5px grey;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
	
}

.shadowForm{
	box-shadow: 0px 0px 5px grey;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.tabelaLista{
	width: 80%;
	box-shadow: 0px 0px 5px grey;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.main {
    flex: 1 0 auto;
  }
  
.page-footer {
  text-align: center;
  padding: 3px;
  background-color: Orange;
  color: white;
}

.nav{
	background-color: Black;
  	color: white;
}

.btn{
	background-color: Black;
  	color: white;
}

.btn:hover {
  background-color: orange !important;
}

.btn-small{
	background-color: Black;
  	color: white;
}

.btn-small:hover{
	background-color: orange !important;
}

.icon_style{
position: absolute;
right: 10px;
top: 10px;
font-size: 20px;
color: white;
cursor:pointer; 
}

/* label focus color */
 label {
    color: black !important;
}

 label:focus {
    color: orange !important;
}

/* label underline focus color */
 input:focus {
   border-bottom: 1px solid orange !important;
   box-shadow: 0 1px 0 0 orange !important
 }
 
 label.active {
  color: orange !important;
}
