<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title> Flash Games</title>
		
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
		  <link rel="stylesheet" href="style/styleCss.css"/>
	      
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	  	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  
	</head>
	
		<header>
			<th:block th:include="nav"></th:block>
		</header>
		
		<body class="body">
			<main class="main">
				<h1 class="center"> Bem vindo !</h1>
				
				
			<img src="/images/logo.jpeg" alt="logo" style="padding-left:700px">
	
						
			</main>	
			
		<th:block th:include="footer"></th:block>
	  
	</body>
	
</html>