		<nav class="nav">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo center"><img src="/images/logomin.jpg" width="40" height="30" style="padding-right:10px"/>Flash Game</a>
		      	<ul class="left hide-on-med-and-down">
		      		<li><a href="/"><i class="material-icons left">home</i>Home</a></li>
			        <li><a href="/cadastrarJogo" ><i class="material-icons left">add_circle_outline</i>Cadastrar Jogo</a></li>
			        <li><a href="/jogos"><i class="material-icons left">format_list_bulleted</i>Lista dos Jogos</a></li>
			      	<form class="form-inline" form-method="post" th:action="@{/logout}">
			      	<button type="submit" class="waves-effect waves-light btn ">Logout</button>
			      	</form>
			      </ul>
			    </div>
			</nav>